/*Estilos gerais*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color:white;
    background-image: url("imagem.jpg");
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: burlywood;
}

footer {
  display: flex;
  justify-content: center;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  background-color:burlywood ;
}

h1, h2 {
    color: white;
    background-color:burlywood;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:oblique;
    font-weight: 800;
    font-variant: normal;
    margin: 20px 0;
}

p {
margin-bottom: 20px;
}


/*Barra de navegação*/
nav {
  background-color: rgba(122, 122, 187, 0.524);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center; 
  text-align: center;
  padding: 10px 0;
}

.nav-links li {
  margin-right: 30px;
  width: 300px;
  text-align: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-links li:last-child{
  margin-right: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
}

.nav-links li a:hover {
  border-bottom: 2px solid white;
}

/* Hero Section */
#hero {
  background-image: url("img/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

#hero p {
  color: burlywood;
  font-size: 18px;
}
  
/*Tabela*/
.tabela {
  margin: 50px auto;
  max-width: 800px;
  color: white;
  background-color: burlywood;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;  
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
background-color: grey;
}

/*Imagem*/
img {
  display: block;
  margin: 0 auto;
}

/* Sobre Section */
#sobre {
  padding: 50px 0;
  text-align: center;
}

#sobre p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*Imagens da página sobre*/
.imagem-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagem-card img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
}

.imagem-card h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.imagem-card p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

.imagem-card button {
  background-color: rgb(74, 73, 73);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.imagem-card button:hover {
  background-color: grey;
}

/* Página Contato */
#contato {
  padding: 50px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
}

/*Página Galeria*/
#galeria {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.grid-item {
  position: relative;
}

.grid-item-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  visibility: hidden;
}

.grid-item:hover .grid-item-overlay {
  visibility: visible;
  opacity: 1;
}

