@{
    ViewData["Title"] = "Página da Daniela da aula 05/06";
}

<div class="text-center">
    <h1 class="display-4">Olá, estou editando a nossa index do Home</h1>
    <p>Aqui vou ter um parágrafo, poderia ter um CSS para aplicar estilos específicos</p>
</div>
