.form-register {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  max-width: 500px;
}

input{
  width: 354px;
}

.form-group {
  margin-top: 10px;
}

button{
  width: 354px;
  margin-top: 15px;
}
