<div class="app-container">
  <header>
    <h1>To Do 2 Day</h1>

    <div class="user-info" *ngIf="authService.isLoggedIn(); else showLogin">
      Bem vindo, {{ authService.getCurrentUser() }}
      <button (click)="onLogout()">Sair</button>
    </div>
    <ng-template #showLogin>
      <div class="login-button">
        <a routerLink="/login">Login</a>
      </div>
    </ng-template>
  </header>

  <nav>
    <ul>
      <li><a routerLink="/tasks">Página inicial</a></li>
      <li><a routerLink="/tags">Tags</a></li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>&copy; 2023 To Do 2 Day App</p>
  </footer>
</div>
