<div class="app-container">
  <header>
    <div class="header-content">
      <div class="header-titles">
        <h1>ToDo2Day</h1>
        <h5>Your productivity app!</h5>
      </div>
    </div>
  </header>

  <nav>
    <div class="nav-content">
      <ul>
        <li><a routerLink="/tasks"><h5>My Tasks</h5></a></li>
      </ul>
      <ng-container *ngIf="authService.isLoggedIn(); else showLogin">
        <div class="user-info">
          Welcome, {{ authService.getCurrentUser() }}
          <button type="button" class="btn btn-light btn-logout" (click)="onLogout()">Logout</button>
        </div>
      </ng-container>
      <ng-template #showLogin>
        <div class="user-info">
          <button type="button" class="btn btn-light btn-logout" routerLink="/login">Login</button>
        </div>
      </ng-template>
    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>&copy; 2023 ToDo2Day App</p>
  </footer>
</div>
