.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  background-color: #3a6bb4;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #8bb3db;
  padding: 10px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #bdc3c7;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
}

footer {
  background-color: #2d3135;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.btn-logout {
  padding: revert;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-titles {
  flex-grow: 1;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: start;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  color: white;
}

h5{
  margin-left: 23px;
  margin-top: 16px;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 22px;
}

.btn-logout{
  margin-left: 22px;
}
