.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 500px;
}

button{
  margin-top: 20px;
  width: 353px;
}

.password {
  margin-top: 15px;
}

input{
  width: 354px;
}

.email{
  margin-top: 10px;
}
