<div class="task-list">
  <div *ngIf="tasks.length === 0" class="no-task-message">
    No Tasks created yet!
  </div>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Tag</th>
        <th>Created at</th>
        <th>Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks" (click)="onTaskView(task.taskItemId)">
        <td>{{ task.title }}</td>
        <td>{{ task.tagId ? tagNames[task.tagId] : ' - ' }}</td>
        <td>{{ task.createdAt | date: 'shortDate' }}</td>
        <td>
          <input type="checkbox" [checked]="task.isCompleted" (click)="$event.stopPropagation()"
            (change)="onCompletionChange(task.taskItemId, $event)">
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="onTaskCreate()" class="create-task-button">New Task</button>
  <button routerLink="/tags">Manage Tags</button>
</div>
