<div class="task-list">
  <div *ngIf="tasks.length === 0" class="no-task-message">
    No Tasks created yet!
  </div>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width: 1000px;">
    <thead>
      <tr>
        <th>Title</th>
        <th style="text-align: center;">Tag</th>
        <th style="text-align: center;">Created at</th>
        <th style="text-align: center;">Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks" (click)="onTaskView(task.taskItemId)">
        <td>{{ task.title }}</td>
        <td style="text-align: center;">{{ task.tagId ? tagNames[task.tagId] : ' - ' }}</td>
        <td style="text-align: center;">{{ task.createdAt | date: 'shortDate' }}</td>
        <td style="text-align: center;">
          <input type="checkbox" [checked]="task.isCompleted" (click)="$event.stopPropagation()"
            (change)="onCompletionChange(task.taskItemId, $event)">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="button-container">
    <button type="button" class="btn btn-primary mng-tags" routerLink="/tags">Manage Tags</button>
    <button type="button" class="btn btn-primary" (click)="onTaskCreate()">New Task</button>
  </div>
</div>
