<div *ngIf="isLoading">Loading...</div>

<div *ngIf="!isLoading">
  <div *ngIf="tags.length > 0; else noTagsTemplate">
    <h2>My Tags</h2>
    <table>
      <tbody>
        <tr *ngFor="let tag of tags">
          <td>{{ tag.name }}</td>
          <td><i class="fa-solid fa-pencil" style="cursor: pointer;" (click)="onEdit(tag.tagId)"></i></td>
          <td> <i class="fa-regular fa-trash-can" style="cursor: pointer;" (click)="onDelete(tag.tagId)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noTagsTemplate>
    <p>No Tags created yet!</p>
  </ng-template>
  <button (click)="onCreate()">New</button>
</div>



